body {
  background-color: rgb(255, 212, 196);
  font-family: "Times New Roman", Times, serif;
}

h1 {
  color: grey;
}

nav ul {
  background-color: lightsalmon;
  border-style: solid;
  border-color: white;
  border-radius: 3px;
  border-width: 5px;
}

nav ul li {
  list-style-type: none;
  display: inline;
  color: white;
}

nav ul li a {
  text-decoration: none;
  color: green;
}
table {
  color: purple;
}

table,
th,
td {
  border-style: solid;
  border-color: white;
  border-width: 2px;
}
