.projects{
    background-color:#00001600 ;
}
.projects
.content{
    margin-top: 30px;
}
.try{
   color: red;
}
.project_card{
    background-color: darkslategray;
    border: 1px solid cornflowerblue;
    width: 23em;
    min-height: 14em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    
    
}
.project_image img{
    width: 100%;
}